:host {
	display: block;
	padding: 5%;
}

#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; /* Alineación a la izquierda */
	gap: 2%; /* Agregamos un espacio entre las columnas */
}

movie-card {
	width: calc((100% / 6) - 2%); /* Calculamos el ancho deseado considerando el espacio entre las columnas */
	margin-bottom: 20px; /* Espacio entre las filas */

	/* Ajustes para pantallas de tamaño pequeño */
	@media (max-width: 576px) {
		width: calc((100% / 2) - 2%); /* Ancho para mostrar dos columnas */
		margin-bottom: 4%; /* Espacio máximo entre las filas */
	}
}

h1 {
	text-transform: uppercase;
	color: white;
	font-family: 'Cairo', sans-serif;
	@media (max-width: 576px) {
		font-size: 5vw; /* Tamaño de fuente más grande para pantallas pequeñas */
	}
}

a {
	text-transform: uppercase;
	text-decoration: none;
}

h1:hover {
	color: rgba(233, 13, 90, 1);
}
