:host {
	display: block;
	margin: 5%;
}

#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2%; /* Agregamos un espacio entre las columnas */
}

movie-card {
	width: calc((100% / 6) - 2%); /* Calculamos el ancho deseado considerando el espacio entre las columnas */
	margin-bottom: 20px; /* Espacio entre las filas */
}

h1 {
	text-transform: uppercase;
	color: white;
	font-family: 'Cairo', sans-serif;
	@media (max-width: 576px) {
		font-size: 5vw; /* Tamaño de fuente más grande para pantallas pequeñas */
	}
}

a {
	text-transform: uppercase;
	text-decoration: none;
}

h1:hover {
	color: rgba(233, 13, 90, 1);
}

/* Media query para pantallas de celular */
@media (max-width: 576px) {
	/* Estilos para pantallas de celular */
	movie-card {
		width: calc(50% - 2%); /* Cambiamos el ancho para mostrar tres columnas */
		margin-bottom: 4%; /* Espacio máximo entre las filas */
	}
}
