* {
	box-sizing: border-box;
}

:host {
	display: block;
	/* padding: 5%; */
}

#favoriteMovies {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 2%;
}

movie-card:host {
	width: calc((100% / 6) - 2%);
	margin-bottom: 20px;

	@media (max-width: 576px) {
		width: calc((100% / 2) - 2%);
		margin-bottom: 4%;
	}
}

a {
	text-transform: uppercase;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	color: white;
	font-family: 'Cairo', sans-serif;
	margin-bottom: 40px;

	@media (max-width: 767px) {
		h1 {
			font-size: 5vw; /* Tamaño de fuente más grande para pantallas pequeñas */
		}

		movie-card {
			width: calc((100% / 2) - 2%); /* Ancho para mostrar dos columnas */
			margin-bottom: 4%; /* Espacio máximo entre las filas */
		}
	}
}
