* {
	box-sizing: border-box;
}

:host {
	display: block;
	/* padding: 5%; */
}

#favoriteMovies {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2%;
}

movie-card:host {
	width: calc((100% / 6) - 2%);
	margin-bottom: 20px;
}

a {
	text-transform: uppercase;
	text-decoration: none;
}

h1 {
	text-transform: uppercase;
	color: white;
	font-family: 'Cairo', sans-serif;
	margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 5vw; /* Tamaño de fuente más grande para pantallas pequeñas */
	}

	movie-card {
		width: 100%; /* Espacio máximo entre las filas */
	}

	#favoriteMovies {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		width: 90%;
		margin: 0 auto;
	}
}
