#figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#figure img {
	width: 400px;
	height: auto;
}

#directoanddate {
	margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

h1 {
	font-size: 200%;
	margin: 1%;
}

#directoranddate {
	margin: 1%;
	display: flex; /* Hace que los elementos se alineen en una línea */
	justify-content: center; /* Los elementos se alinearán al centro horizontalmente */
	gap: 10px; /* Espacio entre los elementos */
}

p {
	margin: 1%;
	white-space: nowrap; /* Hace que el texto dentro del párrafo se muestre en una sola línea */
}
