button {
	width: 20%; /* Modifica el ancho del botón */
	height: 50px;
	background-color: rgba(251, 149, 60, 1);
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 80%;
	font-family: 'Noto Traditional Nushu', serif;
}
button:hover {
	background-color: rgba(233, 13, 90, 1);
	color: rgba(255, 255, 255, 1);
}

button span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 767px) {
	button {
		width: 100%;
		margin-bottom: 10px;
		font-size: 70%;
	}
}
