:host {
	display: block;
	background-color: rgba(30, 21, 22, 1);
	margin: 0;
	padding: 0;
	font-family: 'Noto Traditional Nushu', serif;
	color: white;
	position: relative;
}

#banner {
	position: relative;
	z-index: 1;
}

#figure {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2; /* Para asegurarse de que figure esté encima del banner */
}

#content {
	margin-top: 20%;
	display: flex;
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
}

#info {
	flex: 2; /* Para que ocupe 2/3 del espacio */
	border-right-color: white;
	border-right-width: 20px;
	padding-right: 20%;
}

#content::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(2 / 3 * 100%); /* Calcula la posición para que esté al final de info */
	width: 1px; /* Ancho de la línea */
	background-color: white; /* Color de la línea */
}

#actions {
	display: flex;
	flex-direction: column;
	align-items: flex-end; /* Centra los elementos horizontalmente */
	flex: 1; /* Para que ocupe 1/3 del espacio */
}
