section {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(30, 21, 22, 1);
	padding: 3%;
	box-shadow: 0 0 20px #000000;
	border-radius: 2rem;
	height: auto;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
	color: #fff;
	font-family: 'Cairo', sans-serif;
	z-index: 2;
	margin-top: 10px;
	width: 50%; /* Ajustar el ancho del contenedor */
	max-width: 500px; /* Establecer un ancho máximo */
}

a {
	color: rgba(250, 149, 59, 1);
	cursor: pointer;
}

my-sessionform {
	margin-bottom: 20px; /* Agregar espacio entre el formulario y el botón */
}

my-submitandterms {
	margin-bottom: 10px; /* Agregar espacio entre el botón y el enlace */
}

input {
	font-size: 16px; /* Mantener el tamaño de fuente predeterminado */
	margin-bottom: 10px; /* Agregar espacio entre los campos de entrada */
}
:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-image: url('../assets/background.png');
	background-size: cover;
	background-position: center top 30%;
	margin: 0;
	padding: 10%;
	color: white;
	height: 100%;
}

@media screen and (max-width: 767px) {
	section {
		width: 70%;
		height: 90%;
	}
}
