section {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
	background-color: rgba(30, 21, 22, 1);
	padding: 3%;
	box-shadow: 0 0 20px #000000; /* Sombra */
	border-radius: 2rem;
	height: auto;
	width: auto;
	overflow-x: hidden; /* Oculta el desbordamiento horizontal */
	overflow-y: auto; /* Habilita el desplazamiento vertical */
	color: #fff;
	font-family: 'Cairo', sans-serif;
	z-index: 2;
}

a {
	color: rgba(250, 149, 59, 1);
	cursor: pointer;
}

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-image: url('../assets/background.png');
	background-size: cover;
	background-position: center top 30%;
	margin: 0;
	padding: 10%;
	color: white;
	height: 100%;
}
