* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Traditional Nushu', serif;
}

nav {
	display: flex;
	flex-direction: row;
	padding: 3%;
	justify-content: space-around;
	align-items: center;
	background: none;
	justify-content: space-between; /* Alinear elementos al centro horizontalmente */
}

/* Asegúrate de que la barra de navegación ocupe el ancho completo */
nav .search-bar,
nav .pages {
	flex: 1; /* Distribuir el espacio disponible */
}

/* Agrega un espacio del 5% entre .search-bar y .pages */
nav .search-bar {
	margin-right: 5%;
}

/* Ajustes adicionales para la barra de búsqueda */
.search-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 30px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	max-width: 600px; /* Puedes ajustar este valor según tus necesidades */
}

.search-bar input {
	flex: 1; /* Para que el input ocupe el espacio restante */
	padding: 0 5px;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent; /* Eliminar el color de fondo */
	color: white;
}

.icon {
	display: flex;
	align-items: center;
}

.icon img {
	width: 20px;
	padding: 0 10px;
}

/* Estilos para la sección de páginas */
.pages {
	display: flex;
	justify-content: center; /* Centra los elementos horizontalmente */
	margin-right: 0;
}

.pages a {
	margin-right: 15%; /* Espacio entre los elementos */
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 14px;
}
