/* Reset de estilos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Traditional Nushu', serif;
}

/* Estilos generales de la barra de navegación */
nav {
	display: flex;
	flex-direction: row;
	padding: 3%;
	justify-content: space-between;
	align-items: center;
	background: none;
}

/* Estilos para la sección de búsqueda */
nav .search-bar,
nav .pages {
	flex: 1;
}

/* Agrega un espacio del 5% entre .search-bar y .pages */
nav .search-bar {
	margin-right: 5%;
}

/* Ajustes adicionales para la barra de búsqueda */
.search-bar {
	display: flex;
	align-items: center;
	height: 30px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	max-width: 30%;
	width: 50%;
}

.search-bar input {
	flex: 1;
	padding: 2px 5px;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
}

.icon {
	display: flex;
	align-items: center;
}

.icon img {
	width: 20px;
	padding: 0 10px;
}

/* Estilos para la sección de páginas */
.pages {
	display: flex;
	justify-content: center;
	gap: 13%;
}

.pages a {
	/* margin-right: 12%; */
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 5px 0;
}

.pages a:hover {
	color: rgba(251, 149, 60, 1);
	cursor: pointer;
	transition: color 0.1s ease;
}

.pages {
	position: relative;
}

/* Estilos para el menú desplegable */
.pages .menu-desplegable {
	display: none;
	position: absolute;
	top: 100%;
	background-color: rgba(250, 149, 59, 1);
	padding: 10px;
	border-radius: 5px;
	list-style-type: none;
}

.pages .menu-desplegable a {
	text-transform: none;
	display: block;
	padding: 5px 0;
}

.pages .menu-desplegable a:hover {
	color: rgba(233, 13, 90, 1);
}

.menu-desplegableDisplayed {
	display: block !important;
}

/* media queries */
@media screen and (max-width: 767px) {
	nav .search-bar {
		width: 100%;
		margin-right: 0;
	}

	.pages {
		justify-content: space-around;
	}

	.pages a {
		margin-right: 0;
		font-size: 13px;
		padding: 5px;
	}
}
