* {
	font-family: 'Noto Traditional Nushu', serif;
}

.container {
	position: relative;
	object-fit: cover;
}

.poster {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Añade estilos para el contenido */
.content {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0; /* Inicialmente oculto */
	transition: opacity 0.2s; /* Ajusta la duración de la transición */
	object-fit: cover;
}

.container:hover .content {
	opacity: 1; /* Mostrar contenido al pasar el mouse por encima de .container */
}

p {
	color: white;
	font-size: 15%;
}

.content img,
.content p {
	margin: 5px; /* Ajusta el margen entre elementos */
}

.content img {
	width: 50%;
	height: 50%;
}
