* {
	font-family: 'Noto Traditional Nushu', serif;
}

.container {
	position: relative;
	object-fit: cover;
}

.poster {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Añade estilos para el contenido */
.content {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0; /* Inicialmente oculto */
	transition: opacity 0.2s; /* Ajusta la duración de la transición */
	object-fit: cover;
}

.container:hover .content {
	opacity: 1; /* Mostrar contenido al pasar el mouse por encima de .container */
}

p {
	color: white;
	font-size: 100%;
}

.content img,
.content p {
	margin: 5px; /* Ajusta el margen entre elementos */
}

.content img {
	width: 50%;
	height: 50%;
}

button.details {
	background: url('https://img.icons8.com/ios-glyphs/30/FFFFFF/visible--v1.png') no-repeat;
	background-size: cover;
	width: 20vw; /* Ancho relativo a la ventana gráfica */
	height: 20vw; /* Alto relativo a la ventana gráfica */
	max-width: 90px; /* Ancho máximo en píxeles */
	max-height: 90px; /* Alto máximo en píxeles */
	border: none;
	padding: 0; /* Elimina el espacio alrededor del contenido */
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
	text-indent: -9999px; /* Oculta el texto */
	overflow: hidden; /* Oculta el texto que pueda desbordarse */
}
