* {
	font-family: 'Noto Traditional Nushu', serif;
}

.container {
	position: relative;
	object-fit: cover;
	display: flex;
	height: 100%;
	width: 100%;
}

.poster {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Añade estilos para el contenido */
.content {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0; /* Inicialmente oculto */
	transition: opacity 0.2s; /* Ajusta la duración de la transición */
	object-fit: cover;
}

.container:hover .content {
	opacity: 1; /* Mostrar contenido al pasar el mouse por encima de .container */
}

p {
	color: white;
	font-size: 100%;
}

.content img,
.content p {
	margin: 5px; /* Ajusta el margen entre elementos */
	text-align: center;
}

.content img {
	width: 28%;
	height: auto;
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button.details {
	width: 50%; /* Ancho del 50% */
	height: auto; /* Alto relativo a la ventana gráfica */
	border: none;
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
	background-color: transparent;
	padding: 1%;
	margin: 0;
}

button.details img {
	height: 35%;
	width: auto;
}

.link {
	display: flex;
	width: 50%; /* Ancho del 50% */
	height: 100%;
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
}

.dislike,
.like {
	display: none; /* Inicialmente oculto */
}

@media screen and (max-width: 767px) {
	.content img,
	.content p {
		margin: 3px; /* Ajusta el margen entre elementos para dispositivos móviles */
	}

	.content img {
		width: 50%; /* Ancho del 50% para dispositivos móviles */
	}

	button.details {
		width: 70%; /* Ancho del 70% para dispositivos móviles */
	}

	.link {
		width: 70%; /* Ancho del 70% para dispositivos móviles */
	}
}
