#ButtonModal {
	position: fixed;
	z-index: 1;
	bottom: 20px;
	right: 20px;
	background-color: rgba(233, 13, 90, 1);
	color: white;
	font-size: 25px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 0px;
}
#ButtonModal:hover {
	background: white;
	color: rgba(233, 13, 90, 1);
}

.modalContainer .modal-content {
	overflow: hidden;
	background-color: rgba(30, 30, 30, 1);
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-radius: 6px;
}

.modalContainer .close {
	color: rgba(251, 149, 60, 1);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	float: right;
	font-size: 26px;
	font-weight: bold;
}

.modalContainer .close:hover,
.close:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.my-form {
	position: fixed; /* Posición fija en la pantalla */
	top: 50%; /* Centrado verticalmente */
	left: 50%; /* Centrado horizontalmente */
	transform: translate(-50%, -50%); /* Centrado exacto */
	background-color: rgba(30, 21, 22, 1);
	z-index: 2; /* Asegura que esté por encima del modal */
	padding: 20px; /* Ajusta el espaciado interno según sea necesario */
	box-shadow: 0 0 20px #000000;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
}

.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999; /* el modal esta en la parte superior por encima de todo */
}

.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Color del velo */
	z-index: -1; /* Coloca el velo detrás del modal */
}

.modal-content {
	position: relative;
	z-index: 10000; /* Asegura que el contenido del modal esté encima del velo y sobre el modal */
}
.my-form button {
	width: auto; /* Auto para que ocupe solo el espacio necesario */
	padding: 10px 20px; /* Ajusta el espaciado interno del botón */
	border-radius: 25px; /* Hace que el botón sea redondeado */
	font-size: 16px; /* Tamaño de fuente del botón */
	background-color: rgba(250, 149, 59, 1); /* Color de fondo del botón */
	color: white; /* Color del texto del botón */
	border: none; /* Elimina el borde del botón */
	cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.my-form button:hover {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(233, 13, 90, 1);
}

@media screen and (max-width: 767px) {
	#ButtonModal {
		width: 80px;
		height: 80px;
		font-size: 40px;
	}
}
