:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-image: url('https://pbs.twimg.com/media/GJ331yEWQAAtUzN.jpg');
	background-size: cover;
	background-position: center top 30%;
	margin: 0;
	padding: 10%;
	color: white;
	height: 43vh;
}

/* Agregar un velo solo sobre la imagen de fondo */
:host::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 21, 22, 0.01);
	z-index: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
}

custom-navbar {
	width: 100%; /* Ocupar el 100% del banner */
	position: absolute; /* Para posicionarlo */
	top: 0; /* En la parte superior */
	z-index: 3;
}

h1 {
	width: 45%;
	height: auto; /* Cambia la altura a automática */
	margin-top: 30%;
	margin-bottom: 3vh; /* Espacio entre el mensaje y el botón */
	font-size: 200%;
	text-align: center; /* Centrar horizontalmente */
	font-family: 'Domine', serif;
}

button {
	width: 20%; /* Modifica el ancho del botón */
	height: 50px; /* como lo hago con unidades relaivas */
	background-color: rgba(251, 149, 60, 1);
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 80%;
	font-family: 'Noto Traditional Nushu', serif;
}
button:hover {
	background-color: rgba(233, 13, 90, 1);
	color: rgba(255, 255, 255, 1);
}

button span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 767px) {
	:host {
		height: auto; /* Altura automática para adaptarse a dispositivos móviles */
	}

	h1 {
		width: 80%;
		margin-top: 40%;
		margin-bottom: 3vh;
		font-size: 6vw;
	}

	button {
		width: 60%;
		height: 10vw;
		font-size: 4vw;
	}
}
